<div id="home-brands-we-offer-desc" class="content-box centered-div">
  <h2>Featured Brands</h2>
  <div style="margin-top: 30px;">
    <%= image_tag 'alexander-mcqueen.svg', class: 'brands' %>
    <%= image_tag 'celine.svg', class: 'brands' %>
    <%= image_tag 'kate_spade.svg', class: 'brands' %>
    <%= image_tag 'logo-tory-burch.svg', class: 'brands' %>
    <%= image_tag 'logo-dvf.svg', class: 'brands' %>
    <%= image_tag 'rebeccaminkoff.svg', class: 'brands', style: 'width:200px;' %>
  </div>
</div>
