<!-- <h1 style="font-family:'Gotham-Bold';">Welcome#index</h1>
<p style="font-family:'HelveticaNeue-ThinExt'">Find me in app/views/welcome/index.html.erb</p> -->
<%= render partial: 'what_is' %>
<%= render partial: 'how_it_works' %>
<%= render partial: 'brands_we_offer' %>
<%= render partial: 'get_started' %>
<%= render partial: 'footer' %>
